{
  "presets": [["@babel/preset-env", { "modules": false }], "@babel/preset-typescript"],
  "plugins": [
    "add-module-exports",
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "src": "./src"
        }
      }
    ],
    ["babel-plugin-inline-import", { "extensions": [".sql"] }]
  ]
}
