{
    "compact": false,
    "presets": ["es2015-loose"],
    "plugins": [
        "add-module-exports",
        "transform-class-properties",
        "transform-function-bind",
        "transform-object-rest-spread",
        "transform-es3-member-expression-literals",
        "transform-es3-property-literals"
    ]
}
