{
  "parser": "babel-eslint",
  "extends": ["airbnb-base", "prettier"],
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": ["error"],
    "curly": ["error", "all"],
    "require-unicode-regexp": ["error"],
    "func-names": "error",
    "no-useless-concat": "off",
    "class-methods-use-this": "off",
    "no-param-reassign": "off",
    "prefer-template": "off",
    "no-plusplus": "off",
    "no-else-return": "off",
    "no-use-before-define": "off"
  },
  "env": {
    "jest": true
  }
}
