language: node_js
node_js: node

install:
  - npm install
  - npm install coveralls
script:
  - npm run check
  - npm run build
after_script:
  - cat ./coverage/lcov.info | ./node_modules/coveralls/bin/coveralls.js
