language: node_js
node_js: node

branches:
  only:
    - master
    - stable
    - develop
install:
  - yarn install
  - yarn add coveralls
script:
  - yarn run check
  - yarn run build
after_script:
  - cat ./coverage/lcov.info | ./node_modules/coveralls/bin/coveralls.js
