html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: 'Roboto Mono', monospace;
}
header {
  z-index: 2;
  position: relative;
  height: 4rem;
  padding: 10px 20px;
  border-bottom: 2px solid #8dc63f;
  box-sizing: border-box;
}
h1.title {
  margin: 0 1rem 0 0;
  display: inline-block;
}
.buttons {
  display: inline-block;
}
a {
  text-decoration: none;
}
main {
  overflow: hidden;
  height: calc(100% - 4rem);
  display: flex;
  flex-direction: row;
}
aside.options-menu {
  padding: 0.5rem;
  width: 11%;
  height: 100%;
  background-color: aliceblue;
}
article.config {
  margin: 0.25rem 0;
  padding-bottom: 0.5rem;
  border-bottom: 1px black solid;
}
.staging {
  width: 89%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: stretch;
}
.input,
.output {
  display: flex;
  align-items: stretch;
  width: 50%;
  height: 100%;
  border-left: 2px solid #8dc63f;
}
textarea {
  width: 100%;
  padding: 20px;
  border: 0;
  box-sizing: border-box;
  font-size: 1.3em;
  resize: none;
  outline: none;
  line-height: 1.3;
  font-family: 'Roboto Mono', monospace;
}
